@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 30px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #F9FAF8;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: inherit;
}